/* general */
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em; /* 16 / 16 = 1 */
    line-height: 1.25em; /* 20 / 16 = 1.25 */
    background-color: #c1c8e4;
    text-align: left;
  }

  .meet-the-team {
    font-size: 2em; /* 32/16 = 2 */
    line-height: 2.5em; /* 40/16 = 2.5em  */
    background-color: #84ceeb;
    font-family:"proxima-nova", sans-serif;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    font-size: 1.25em;
    line-height: 1.5em;
    font-family:"proxima-nova", sans-serif;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 1em; /* 16 / 16 = 1*/
    line-height: 1.25em; /* 20/16=1 */
    padding-bottom: 2em;
  }

  body{
      margin-left: 150px;
      margin-right: 150px;
      max-width: 1500px;
  }
/* navigation bar */

nav{
    height: 100px;
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    position: relative;
}

.nav__link--button{
    margin: 0 15px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
}

.nav__link--button-style{
    background-color: rgb(18, 45, 134);
    padding: 6px 17px;
    border-radius: 35px;
    border: 2px solid rgb(31, 98, 199);
    font-size: 18px;
}

.logoStyling{
    max-width: 170px;
}


/* sidebar */
      
.sidenav__background{
    background-image: url("../leadership\ manual\ cover\ photo.jpg");
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: rgb(243, 235, 235);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.main {
    margin-right: 200px; 
    padding: 0px 10px;
}

.wrap__bottom {
    vertical-align: bottom;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.wrap__bottom--background-color{
    background-color: navajowhite;
    opacity: 0.85;
}
.text__shrink{
    font-size: 80%;
}

/* video */
.video__background{
    background-image: url("skyline.jpg");
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

video{
    display: block;
    margin: 0 auto;
}

/* flip card */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    overflow: hidden;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); 
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

/* flip card text */
.person_name {
    font-size: 1em; /* 16 / 16 = 1*/
    line-height: 1.25em; /* 20/16=1 */
    padding-bottom: 2em;
  }