/* general */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

*{
    font-family: Merriweather;
    margin: 0;
    padding: 0;
}

h1{
    color: aliceblue;
    font-size: 80px;
}

h2{
    color: aliceblue;
    font-size: 34px;
}

video{
    display: block;
    margin: 0 auto;
}

p{
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto; 
    font-size: 28px;
    text-align: center;
}
.p-silver{
    color: silver;
}
.p-black{
    color: black;
}

.center-text{
    text-align: center;
}

.background-image__test{
    background-image: linear-gradient(rgb(252, 252, 252),rgb(240, 242, 248)), url("testwhite.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-image__test--footer{
    background-image: linear-gradient(rgb(25, 9, 100,0.2),rgb(25, 9, 100, 0.2)), url("testwhite.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-image{
    background-image: linear-gradient(rgb(4, 9, 30,0.7),rgb(4, 9, 30,0.7)), url("skyline.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title{
    min-width: 400px;
    min-height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
}
/* navigation bar */

nav{
    height: 100px;
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    position: relative;
}

.nav__link--button{
    margin: 0 15px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
}

.nav__link--button-style{
    background-color: rgb(18, 45, 134);
    padding: 6px 17px;
    border-radius: 35px;
    border: 2px solid rgb(31, 98, 199);
    font-size: 18px;
}

.logoStyling{
    max-width: 170px;
}


/* sidebar */
      
.sidenav__background{
    background-image: url("../leadership\ manual\ cover\ photo.jpg");
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: rgb(243, 235, 235);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.main {
    margin-right: 200px; 
    padding: 0px 10px;
}

.wrap__bottom {
    vertical-align: bottom;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.wrap__bottom--background-color{
    background-color: navajowhite;
    opacity: 0.85;
}
.text__shrink{
    font-size: 80%;
}

/* video */
.video__background{
    
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* spotlight */

.spotlight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

